[defaults]
inventory = ./inventory/hosts.yml
remote_user = r
host_key_checking = False
retry_files_enabled = False
roles_path = ./roles
stdout_callback = yaml
callback_whitelist = profile_tasks
interpreter_python = auto_silent

[privilege_escalation]
become = True
become_method = sudo
become_user = root
become_ask_pass = False

[ssh_connection]
pipelining = True
control_path = /tmp/ansible-%%h-%%p-%%r
ssh_args = -o ControlMaster=auto -o ControlPersist=60s
